body {
    
}

#banner{
    widht: 100%;
}

.prinipal {
    background: #CCCCCC; 
    padding: 30px;
}

.titluo-principal{
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
    color:aqua;
    background: rgb(255, 0, 247)
}

p{
    text-align: center;
}

#missão {
    font-size: 20px;
}

em strong {
    color: blue;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}